.env
venv/ 
/medgemma/google_medgemma_4b_it/
/agents/image_process/data/outputs/ 
/agents/image_process/data/pediatric_skin_data/
/agents/patient_database/data/csv/ 
/agents/speech_to_text_process/model/medasr/ 
__pycache__/
/agents/patient_database/data/vectordb/
/agents/patient_database/medical_record/
/agents/orchestrator/tests/__pycache__/
/agents/orchestrator/__pycache__/
/agents/orchestrator/htmlcov/
/agents/orchestrator/.pytest_cache/
__pycache__/